body {

    overflow: hidden;    
    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    flex-direction: column;

}

*{

    font-family: bold;

    color:rgb(29, 66, 138);
	
    box-sizing: padding-box;
    

}

form {

    width: 500px;

    border: 3px solid rgb(29, 66, 138);	

    padding: 2px;
    align-items: center;
    background: rgb(255, 255, 255);
    opacity: 0.7;
    border-radius: 1px;

}

h2 {

    text-align: center;
align-items: center;
    margin-bottom: 1px;

}

input {

    display: block;

    border: 2px solid #316FB3;

    width: 60%;

    padding: 5px;

    margin: 1px auto;

    border-radius: 1px;

}

label {

    color: #6F97DB;

    font-size: 17px;
  
    padding: 100px;

}

button {

    float: center;	
    bottom: 5px;

    align-items: center;

    background: rgb(29, 66, 138);

    padding: 9px 20px;

    color: #fff;

    border-radius: 1px;

   
    margin: auto;
    border: 1px;

}

button:hover{

    opacity: .80;

}

.error {

   background: #def2f1;

   color: #0c0101;

   padding: 10px;

   width: 95%;

   border-radius: 5px;

   margin: 20px auto;

}

h1 {

    text-align: center;

    color: rgb(134, 3, 3);

}

a {

    float: right;

    background: rgb(183, 225, 233);

    padding: 10px 15px;

    color: #fff;

    border-radius: 10px;

    margin-right: 10px;

    border: none;

    text-decoration: none;

}

a:hover{

    opacity: .7;

}